In [4]:
import numpy as np

In [5]:
heights = [189,170,189,163,183,171,185,168,173,183,173,173,175,178,183,193,178,173,174,183,183,180,170,178,182,180,183,178,182,175,179,183,193,182,183,177,185,188,188,188,185,191,135,123,134,135]

In [6]:
heights_arr = np.array(heights)

In [7]:
heights_arr

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
       183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
       188, 185, 191, 135, 123, 134, 135])

In [8]:
heights_arr = np.array(heights)

In [9]:
heights_arr

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
       183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
       188, 185, 191, 135, 123, 134, 135])

In [10]:
heights_arr =heights_arr.reshape((1,46))

In [11]:
heights_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135]])

In [12]:
ages = [ 57,61,57,57,58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]

In [13]:
ages_arr = np.array(ages)

In [14]:
ages_arr.shape

(46,)

In [15]:
ages_arr.reshape((1,46))

array([[57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65,
        52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54,
        51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]])

In [16]:
heights_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135]])

In [17]:
heights_arr.shape

(1, 46)

In [18]:
ages_arr

array([57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52,
       56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60,
       62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70])

In [19]:
ages_arr.shape

(46,)

In [20]:
ages_arr.reshape((1,46))

array([[57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65,
        52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54,
        51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]])

In [21]:
ages_arr.shape

(46,)

In [22]:
heights_arr.shape

(1, 46)

In [23]:
heights_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135]])

In [24]:
ages_arr

array([57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52,
       56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60,
       62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70])

In [25]:
ages_arr.reshape((1,46))

array([[57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65,
        52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54,
        51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]])

In [26]:
ages_arr

array([57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52,
       56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60,
       62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70])

In [27]:
ages_arr = ages_arr.reshape(1,46)

In [28]:
ages_arr

array([[57, 61, 57, 57, 58, 57, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65,
        52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54,
        51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]])

In [29]:
height_age_arr = np.hstack((heights_arr, ages_arr))

In [30]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135,  57,  61,  57,  57,  58,  57,
         57,  61,  54,  68,  51,  49,  64,  50,  48,  65,  52,  56,  46,
         54,  49,  51,  47,  55,  55,  54,  42,  51,  56,  55,  51,  54,
         51,  60,  62,  43,  55,  56,  61,  52,  69,  64,  46,  54,  47,
         70]])

In [31]:
height_age_arr = np.vstack((heights_arr, ages_arr))

In [32]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135],
       [ 57,  61,  57,  57,  58,  57,  57,  61,  54,  68,  51,  49,  64,
         50,  48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,
         42,  51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,
         52,  69,  64,  46,  54,  47,  70]])

In [33]:
height_age_arr.shape

(2, 46)

In [34]:
height_age_arr[:,:3]

array([[189, 170, 189],
       [ 57,  61,  57]])

In [35]:
height_age_arr = np.concatenate((heights_arr, ages_arr), axis = 1)

In [36]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135,  57,  61,  57,  57,  58,  57,
         57,  61,  54,  68,  51,  49,  64,  50,  48,  65,  52,  56,  46,
         54,  49,  51,  47,  55,  55,  54,  42,  51,  56,  55,  51,  54,
         51,  60,  62,  43,  55,  56,  61,  52,  69,  64,  46,  54,  47,
         70]])

In [37]:
height_age_arr = np.concatenate((heights_arr, ages_arr), axis = 0)

In [38]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135],
       [ 57,  61,  57,  57,  58,  57,  57,  61,  54,  68,  51,  49,  64,
         50,  48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,
         42,  51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,
         52,  69,  64,  46,  54,  47,  70]])

In [39]:
height_age_arr.sum()

10629

In [40]:
height_age_arr.sum(axis = 0)

array([246, 231, 246, 220, 241, 228, 242, 229, 227, 251, 224, 222, 239,
       228, 231, 258, 230, 229, 220, 237, 232, 231, 217, 233, 237, 234,
       225, 229, 238, 230, 230, 237, 244, 242, 245, 220, 240, 244, 249,
       240, 254, 255, 181, 177, 181, 205])

In [41]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135],
       [ 57,  61,  57,  57,  58,  57,  57,  61,  54,  68,  51,  49,  64,
         50,  48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,
         42,  51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,
         52,  69,  64,  46,  54,  47,  70]])

In [44]:
height_age_arr[:,1] < 51

array([False, False])

In [45]:
#masking
mask = height_age_arr[:,0] >= 182

In [46]:
height_age_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135],
       [ 57,  61,  57,  57,  58,  57,  57,  61,  54,  68,  51,  49,  64,
         50,  48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,
         42,  51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,
         52,  69,  64,  46,  54,  47,  70]])

In [47]:
mask

array([ True, False])

In [48]:
mask.sum()

1

In [49]:
tall_presidents = height_age_arr[mask,]

In [50]:
tall_presidents.shape

(1, 46)

In [56]:
#multiple criteria
mask = (height_age_arr[:,0]>=182) | (height_age_arr[:,1] <= 50)
height_age_arr[mask,]

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 170, 178, 182, 180,
        183, 178, 182, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188,
        188, 185, 191, 135, 123, 134, 135]])

In [57]:
mask

array([ True, False])

In [54]:
height_age_arr[:,0]>= 182

array([ True, False])

In [55]:
height_age_arr[:,1] <= 50

array([False, False])