In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,2,3], index = ['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [3]:
pd.Series(np.array([1,2,3]), index = ['a','b','c'])

a    1
b    2
c    3
dtype: int64

In [4]:
wine_dict = {
    'red_wine' : [3,5,6],
    'white_wine' : [5,0,10]
}

sales = pd.DataFrame(wine_dict, index = ['adam','bob','charles'])
sales

         red_wine  white_wine
adam            3           5
bob             5           0
charles         6          10

In [5]:
presidents_df = pd.read_csv('https://sololearn.com/uploads/files/president_heights_party.csv', index_col='name')

In [6]:
presidents_df.shape

(45, 4)

In [7]:
presidents_df.shape[0]

45

In [8]:
presidents_df.size

180

In [9]:
presidents_df.head(n=3)

                   order  age  height                  party
name
George Washington      1   57     189                   none
John Adams             2   61     170             federalist
Thomas Jefferson       3   57     189  democratic-republican

In [10]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.8+ KB

In [11]:
presidents_df.loc['Abraham Lincoln']

order             16
age               52
height           193
party     republican
Name: Abraham Lincoln, dtype: object

In [12]:
type(presidents_df.loc['Abraham Lincoln'])
presidents_df.loc['Abraham Lincoln'].shape

(4,)

In [13]:
presidents_df.loc['Abraham Lincoln': 'Ulysses S. Grant']

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

In [14]:
presidents_df.iloc[15]

order             16
age               52
height           193
party     republican
Name: Abraham Lincoln, dtype: object

In [15]:
presidents_df.iloc[15:18]

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

In [16]:
presidents_df.columns

Index(['order', 'age', 'height', 'party'], dtype='object')

In [17]:
presidents_df['height']

name
George Washington         189
John Adams                170
Thomas Jefferson          189
James Madison             163
James Monroe              183
John Quincy Adams         171
Andrew Jackson            185
Martin Van Buren          168
William Henry Harrison    173
John Tyler                183
James K. Polk             173
Zachary Taylor            173
Millard Fillmore          175
Franklin Pierce           178
James Buchanan            183
Abraham Lincoln           193
Andrew Johnson            178
Ulysses S. Grant          173
Rutherford B. Hayes       174
James A. Garfield         183
Chester A. Arthur         183
Grover Cleveland          180
Benjamin Harrison         168
Grover Cleveland          180
William McKinley          170
Theodore Roosevelt        178
William Howard Taft       182
Woodrow Wilson            180
Warren G. Harding         183
Calvin Coolidge           178
Herbert Hoover            182
Franklin D. Roosevelt     188
Harry S. Truman           175
Dwight D. Eisenhower      179
John F. Kennedy           183
Lyndon B. Johnson         193
Richard Nixon             182
Gerald Ford               183
Jimmy Carter              177
Ronald Reagan             185
George H. W. Bush         188
Bill Clinton              188
George W. Bush            182
Barack Obama              185
Donald J. Trump           191
Name: height, dtype: int64

In [18]:
presidents_df['height'].shape

(45,)

In [19]:
presidents_df['height'].size

45

In [20]:
presidents_df[['height','age']].head(n=3)

                   height  age
name
George Washington     189   57
John Adams            170   61
Thomas Jefferson      189   57

In [21]:
presidents_df.loc[:, 'order':'height'].head(n=3)

                   order  age  height
name
George Washington      1   57     189
John Adams             2   61     170
Thomas Jefferson       3   57     189

In [22]:
presidents_df.min()

order              1
age               42
height           163
party     democratic
dtype: object

In [23]:
presidents_df.max()

order       45
age         70
height     193
party     whig
dtype: object